<template>
    <div class="container">
       <!--  <div class="row">
            <div class="col-md-12">
                <div class="card hovercard" v-for="user in users">
                    <div class="avatar">
                        <img alt="" :src="'http://rakan.ok.dev/images/'+user.image+''" class="img-circle user-img">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="http://scripteden.com/">{{user.user.first_name}} {{user.user.last_name}}</a>
                        </div>
                        <div class="desc">{{user.address}}</div>
                        <div class="desc">{{user.profession}}</div>
                        <div class="desc">{{user.phone}}</div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <table class="table table-colored table-primary">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in users">
                        <td>{{index}}</td>
                        <td>{{user.user.first_name+' '+user.user.last_name}}</td>
                        <td>{{user.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        computed:{
            users(){
                return this.$store.state.parents;
            }
        }
    }
</script>

<style lang="css">
    

    .card {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        padding: 10px;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

    .card.hovercard .avatar {
        position: relative;
        top: 0px;
        margin-bottom: -50px;
        float: left;
        width: 30%;
    }

    .card.hovercard .avatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
    }

    .card.hovercard .info {
        padding: 4px 8px 10px;
        float: left;
        width: 70%;
    }

    .card.hovercard .info .title {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
    }

    .card.hovercard .info .desc {
        overflow: hidden;
        font-size: 10px;
        line-height: 10px;
        color: #737373;
        text-overflow: ellipsis;
    }
</style>
